@import "src/variables";

.material-block {
  height: 40%;
  width: 40%;
  min-width: 256px;
  display: flex;
  align-items: center;
  z-index: 2;

  &__image {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    width: 200px;
    height: 200px;
    margin-left: 8px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
  }

  @media only screen and (max-width: $small-sc-w) {
    &__description {
      height: 220px;
      width: 228px;
    }
  }

}

@media only screen and (max-width: $small-sc-w) {
  .material-block {
    margin-bottom: 24px;
  }
}