@import "src/variables";

.about-us {
  width: 100%;
  height: 85vh;
  display: flex;

  &__image {
    width: 55%;
    height: 100%;
    background-size: cover !important;
    background: no-repeat;
  }

  &__text {
    width: 45%;
    background-color: $color-gold;
    height: 100%;
  }

  @media only screen and (min-width: $small-sc-w) and (max-width: $medium-sc-w ) {
    &__image {
      background: no-repeat center center fixed;
    }
  }
}