@import "src/variables";

.contact {
  width: 100%;
  min-height: 85vh;
  display: flex;

  &__image {
    width: 55%;
    min-height: 100%;
    background-size: cover !important;
    background: no-repeat;
    position: relative;
  }

  &__image-text {
    position: absolute;
    bottom: 10%;
    right: 2%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 24px;

    &--name {
      font-size: 28px;
      text-align: right;
    }
  }

  &__text {
    width: 45%;
    background-color: $color-gold;
    min-height: calc(100% - 16px);
    height: auto;
    font-size: 24px;
    padding: 16px 0 0 16px;

    &-text {
      display: none;
      position: absolute;
      bottom: 10%;
      right: 2%;
      z-index: 2;
      flex-direction: column;
      justify-content: flex-end;
      font-weight: 500;
      font-size: 24px;

      &--name {
        font-size: 28px;
        text-align: right;
      }
    }
  }

  &__icons-container {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    align-items: baseline;
  }

  &__icon {
    margin-top: 8px;
  }

  @media only screen and (max-width: $medium-sc-w ) {
    &__image {
      display: block;
      background: no-repeat center center fixed;
    }
  }

  @media only screen and (max-width: $small-sc-w) {
    &__image {
      display: none;
    }

    &__text {
      width: 100%;

      &-text {
        display: flex;
      }
    }
  }
}