@import "src/variables";

.header {
  display: flex;
  font-family: $family-bernard;
  font-size: $font-size-l;
  font-variant: all-petite-caps;
  height: 88px;

  .logo {
    width: 140px;
    height: 90px;
    margin-left: 2vw;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    width: 65%;
    margin-left: 2%;
    margin-top: -4px;
    align-self: center;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 16px 0;

    &__materials {
      cursor: default;
      position: relative;

      &:hover {
        .header-list__materials-block {
          display: flex;
        }
      }
    }

    &__materials-block {
      height: 190px;
      width: 170px;
      font-size: 22px;
      background-color: lightgrey;
      position: absolute;
      top: 48px;
      z-index: 4;
      display: none;
      flex-direction: column;
      padding: 16px;
      gap: 8px;
    }
  }

  .social {
    width: calc(15% - 32px);
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--icon {
      margin-left: 16px;
    }
  }

  @media only screen and (max-width: $medium-sc-w) {
    .navigation {
      width: 30%;
      display: flex;
      justify-content: center;
    }
    .header-list {
      display: none;
    }
    .logo {
      width: 100px;
      height: 82px;
    }
  }
}
