@import "src/variables";

.header {
  display: flex;
  font-family: $family-bernard;
  font-size: $font-size-l;
  font-variant: all-petite-caps;
  height: 88px;

  .logo {
    width: 150px;
    height: 100px;
    margin-left: 2vw;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    width: 65%;
    margin-left: 2%;
    align-self: center;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .social {
    width: calc(15% - 32px);
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--icon {
      margin-left: 16px;
    }
  }

  @media only screen and (max-width: $xs-screen) {
    .navigation {
      width: 30%;
      display: flex;
      justify-content: center;
    }
    .header-list {
      display: none;
    }
  }
}
