@import "src/variables";

.materials {
  width: 100%;
  position: relative;
  height: 85vh;

  &__diagonal {
    position: absolute;
    width: 95%;
    height: 100%;
  }

  &__top-left {
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 5% 100%, 0% 100%);
  }

  &__bottom-right {
    background-color: $color-gold;
    top: 0;
    right: 0;
    clip-path: polygon(95% 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .main {
    background-color: transparent;
    width: calc(100% - 2*48px);
    height: 100%;
    position: relative;
    margin-left: 48px;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}