//colors
$color-red-1: #a43934;
$color-gold: #b9ba94;
$color-light-grey: lightgrey;

//sizes
$font-size-l: 32px;
$font-size-xxl: 88px;

// fonts
$family-stencil: 'Stencil', sans-serif;
$family-bernard: 'Bernard MT Condensed', serif;

//screens
$small-sc-w: 650px;
$medium-sc-w: 1200px;
